<!DOCTYPE html>
<html>
  <head>
    <title>DevcampPortfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <%= yield %>
<!--   Here is the follow up for the session variable code from the application controller -->
  <% if session[:source] %>
      <p>  Thanks for visiting me from <%= session[:source] %> </p>
  <% end %>

  </body>
</html>
