<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="keywords" content="<%= @seo_keywords %>"/>

  </head>
  <body>
    <%= render 'shared/notice_alert' %>

    <%= render 'shared/nav', location: 'top' %>

    <%= login_helper %>

    <%= yield %>
    
    <%= source_helper("application") %>

  </body>
</html>
